body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #1a1a1f;
  /* Fundo que combina com a cena */
  font-family: 'Inter', sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}