.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    pointer-events: none;
    z-index: 9999;
    will-change: transform;
    transition: color 0.3s ease;
}


/* O SVG interno e seus componentes */
.cursor svg {
    overflow: visible;
}

.arrow {
    fill: white;
    stroke: #222222;
    /* Preto suave da sua referência */
    stroke-width: 1.5px;
    stroke-linejoin: round;
    /* Deixa as pontas da seta mais polidas */
}

.ring {
    fill: transparent;
    stroke: url(#ringGradient);
    stroke-width: 7px;
    transform-origin: 32px 32px;
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), stroke-width 0.3s ease;
}

/* --- ESTADOS --- */

.idle {
    color: rgba(255, 255, 255, 0.5);
    /* A cor fica no estado "Pai" */
}

.idle .ring {
    transform: scale(1);
}

.finger_down {
    color: #ffdd00;
}

.finger_down .ring {
    transform: scale(0.8);
    stroke-width: 6px;
}

.magnet_attract {
    color: #ff1a1a;
}

.magnet_attract .ring {
    transform: scale(0.8);
    /* stroke-width: 8px; */
    filter: drop-shadow(0 0 6px #ff1b1b);
}

.magnet_repel {
    color: #2a94ff;
}

.magnet_repel .ring {
    transform: scale(1.2);
    /* stroke-width: 6px; */
    filter: drop-shadow(0 0 6px #2c95ff);
}




/* --- ONDAS / RIPPLES (IMÃ) --- */

.ripple {
    fill: transparent;
    stroke: white;
    stroke-width: 1.5px;
    transform-origin: 32px 32px;
    opacity: 0;
}

/* Dividimos o tempo em 3 partes perfeitas para dar o efeito de onda contínua */
.ripple1 {
    animation-delay: 0s !important;
}

.ripple2 {
    animation-delay: 0.4s !important;
}

.ripple3 {
    animation-delay: 0.8s !important;
}

/* Animação: Nasce invisível, e diminui até ser sugado pelo anel */
@keyframes attractRipple {
    0% {
        transform: scale(3.0);
        opacity: 0;
    }

    30% {
        opacity: 0.6;
    }

    100% {
        transform: scale(0.2);
        opacity: 0;
    }
}

/* Animação: Nasce minúsculo e explode para fora */
@keyframes repelRipple {
    0% {
        transform: scale(0.5);
        opacity: 0.8;
    }

    100% {
        transform: scale(3.0);
        opacity: 0;
    }
}

/* Ativando a Animação Mágica dependendo do estado! */
.magnet_attract .ripple {
    animation: attractRipple 1.2s ease-in infinite;
}

.magnet_repel .ripple {
    animation: repelRipple 1.2s ease-out infinite;
}


/* --- ONDA DE CHOQUE (DEDO) --- */
@keyframes shockwave {
    0% {
        transform: scale(0.5);
        opacity: 1;
        stroke: #ffdd00;
        stroke-width: 4px;
    }

    100% {
        transform: scale(2.5);
        opacity: 0;
        stroke-width: 0px;
    }
}

/* Quando clica, dispara apenas a Onda 1 de forma explosiva e única (sem infinite) */
.finger_down .ripple1 {
    animation: shockwave 0.4s cubic-bezier(0.1, 0.9, 0.2, 1) forwards;
}